---
import Layaout from "../layaouts/Layaout.astro";
--- 

<Layaout title="Acerca del sitio">
    <h1>Abaout</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum laudantium eveniet laborum quis dicta laboriosam, nam, voluptate doloribus aspernatur pariatur at reiciendis numquam ducimus. Quisquam sed optio quasi molestias, praesentium unde culpa corrupti iusto commodi, nihil doloremque. Aperiam optio amet vero ratione pariatur aspernatur, esse dolores quibusdam voluptatem ipsam qui nulla debitis sint, eveniet quia veritatis? Similique nemo cumque molestiae assumenda illum ab eius maiores vel natus explicabo. Reiciendis laudantium ullam facere quidem odit quas consequatur ipsa sed expedita non, aspernatur, ea nobis explicabo minus maiores voluptatem possimus! Totam, rem magnam dicta sapiente ducimus ipsum consequatur cupiditate velit aperiam optio.</p>
</Layaout>